version: '3'
services:
  db:
    image: postgres:13
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=secret
      - POSTGRES_USER=admin
      - POSTGRES_DB=testdb
    volumes:
      - ./data:/var/lib/postgresql/data